.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

path.d3plus-Shape {
    stroke-width: .3px;
}

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
.ui-slider{
  border: 1px solid #f69421 !important;
}
.p-head{
  font-size:16px;
  padding-bottom: 8px;
  font-weight: 800;
}
.p-other{
  font-size: 10px;
  font-weight: 400;
  padding-bottom: 4px;
  margin: 0px;
  padding-top: 0px;
}

.corr-rs{
  padding-top: 20px;
  color: #f6931f;
  font-weight: bold;
  padding: 12px;
  background: white;
  margin-top: 18px;
  border: 1px solid;
}

.title{
  color: #f6931f;
}
.days a{
  color: #005b06;
}

.color-choose{

}