.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

path.d3plus-Shape {
    stroke-width: .3px;
}

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
.ui-slider{
  border: 1px solid #f69421 !important;
}
.p-head{
  font-size:16px;
  padding-bottom: 8px;
  font-weight: 800;
}
.p-other{
  font-size: 10px;
  font-weight: 400;
  padding-bottom: 4px;
  margin: 0px;
  padding-top: 0px;
}

.corr-rs{
  padding-top: 20px;
  color: #f6931f;
  font-weight: bold;
  padding: 12px;
  background: white;
  margin-top: 18px;
  border: 1px solid;
}

.title{
  color: #f6931f;
}
a.days{
  color: #005b06;
  font-weight: 400;
}

#color-choose,.color-choose{
  background: white;
  padding: 12px;
  border: 1px solid #f6931f;
}
.gr{
  color: #08582c;
  font-size: 16px;
}

button, html input[type=button], input[type=reset], input[type=submit]{
  border: 1px solid #f6931f;
}

.b-container{
  display: flex;
}
.fixed{
  width: 200px;
}
.flex-item{
  flex-grow: 1;
}
#states{
  padding-right: 8px;
}
.active{
  font-weight: 900;
}
a.days.active{
  font-weight: 900;
}
.navbar{
  margin-bottom: 0px;
  border-radius: none;
}
.cv-nav{
border-radius: 0px;
}





.navbar .nav {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem
}

.navbar-inverse {
  background-color: #003300
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #002200
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #003300
}

.dropdown-menu {
  background-color: #006B00
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #002200
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #003300
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
  color: #f69420
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #f69420
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #f69420
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #f69420
}

.dropdown-menu>li>a {
  color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #f69420
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: #FFFFFF
}
.left-col{
  border-bottom-right-radius:4px;
  border-bottom: 1px solid #003300;
  border-right: 1px solid #003300;

}
.cor-val{
  width: 70%;
  font-size: 12px;
  padding-top: 5px;
}
.bar{
  width: 30%;
  margin-top: 5px;
}
.corr,.two-col{
  display: flex;
  justify-content: space-between;
}

.c1,.d1{
  width: 50%;
}
.c2,.d2{
  width: 50%;
}
.days{
  display: none;
}
.res-val{
  margin-right: -5px;
  z-index: 1000;
  font-size: 10px;
  z-index: 1000;
  font-size: 10px;
  left: 26px;
  position: relative;
  top: 6px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#start{
  z-index: 1000;
  position: absolute;
  display: none;
}
.plot-select{
  padding-left: 8px;
  width:auto;
  display: inline;
}
.plot-toggle{
  display: none;
}
#baleModalCenterTitle{
  color: white;
  padding-top: 10px;
}

.modal-header{
  background: #001b00;
  border: 1px solid white;
}

/* AXES */
/* ticks */
.axis line{
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 0.9;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 120%;
}

/* LINE CHART */
path.line-0 {
  fill: none;
  stroke: #ed3700;
  stroke-width: 1.5px;
}

path.line-1 {
  fill: none;
  stroke: #2b2929;
  stroke-dasharray: 2;

}

path.line-2 {
  fill: none;
  stroke: #9c9c9c;
  stroke-dasharray: 6;
}

path.line-3 {
  fill: none;
  stroke: #f69320;
  stroke-width: 1.5px;
}

path.line-4 {
   fill: none;
   stroke: #2b2929;
   stroke-dasharray: 6;

 }

path.line-5 {
  fill: none;
  stroke: #2b2929;
  stroke-dasharray: 2;

}

path.line-6 {
   fill: none;
   stroke: sandybrown;
   stroke-width: 1.5px;
 }

path.line-7 {
  fill: none;
  stroke: purple;
  stroke-dasharray: 2;
}

path.line-8 {
  fill: none;
  stroke: navy;
  stroke-dasharray: 6;

}

path.line-9 {
  fill: none;
  stroke: darkred;
  stroke-width: 1.5px;
}

path.line-10 {
  fill: none;
  stroke: aqua;
  stroke-dasharray: 2;
}

path.line-11 {
  fill: none;
  stroke: #0902ff;
  stroke-dasharray: 6;
}

path.line-12 {
  fill: none;
  stroke: #e2a7ff;
  stroke-width: 1.5px;
}

path.line-13 {
   fill: none;
   stroke: #ffeb4b;
   stroke-dasharray: 2;
 }

path.line-15 {
  fill: none;
  stroke: #c3ffd2;
  stroke-dasharray: 6;
}

path.line-16 {
  fill: none;
  stroke: #ffd4cd;
  stroke-width: 1.5px;

}
path.line-17 {
  fill: none;
  stroke: #b9ff4e;
  stroke-dasharray: 2;
}

path.line-18 {
  fill: none;
  stroke: #8273ff;
  stroke-dasharray: 6;
}

path.line-19 {
  fill: none;
  stroke: #ff8969;
  stroke-width: 1.5px;
}

.serie_label {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 80%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 145px;
  height: 92px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.bubble-title{
  font-weight: 700;
  padding-bottom: 4px;
}

.toggle.btn {
  min-width: 100px;

}
.js-multiple{
  HEIGHT: 120PX !important;
}